{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<h1 id="tituloCentrado">Mi perfil </h1>
<p id="tituloCentrado">{{ app.user.email}}</p>
<p><a  id="botonCrear" href="{{ path('app_logout')}}"> Cerrar sesión</a></p>
{% endblock %}
