{% extends 'base.html.twig' %}

{% block title %}Email de recuperación enviado{% endblock %}

{% block body %}
    <p>
        Si existe una cuenta con este email, recibirás un mensaje con un link que puedes usar para reestablecer tu contraseña.
        Este link caducará en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si no recibes el mensaje por favor, revisa tu buzón de spam o <a href="{{ path('app_forgot_password_request') }}"> prueba de nuevo. </a>.</p>
{% endblock %}
