{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="contenedor">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1  id="tituloCentrado">Recupera tu contraseña</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Introduce tu email y te enviaremos un enlace para recuperar tu contraseña.
            </small>
        </div>

        <button id="botonCrear">Enviar enlace</button>
</div>
    {{ form_end(requestForm) }}
{% endblock %}
