@font-face {
    font-family: 'signikabold';
    src: url('../fonts/signika-bold-webfont.woff2') format('woff2'),
        url('../fonts/signika-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('../fonts/signika-regular-webfont.woff2') format('woff2'),
        url('../fonts/signika-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'remachine_script_personal_uRg';
    src: url('../fonts/remachinescript_personal_use-webfont.woff2') format('woff2'),
        url('../fonts/remachinescript_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    /* background-image: url("../img/UI.png"); */
    /* background-size: cover; */
    /* height: 500px; */
    background-image: linear-gradient(to top, #4f20d4 , #b755d4 , #32e891 ) !important;
    font-family: signikaregular;


}

h1
{
    font-family: signikabold;
    color: #464d78;
    
}

.btn {
    display: flex;
    margin: 5px !important;
    justify-content: center !important;
    align-items: center !important;
}


#prueba{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align:center;
   
}