@font-face {
    font-family: 'signikabold';
    src: url('../fonts/signika-bold-webfont.woff2') format('woff2'),
        url('../fonts/signika-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('../fonts/signika-regular-webfont.woff2') format('woff2'),
        url('../fonts/signika-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'remachine_script_personal_uRg';
    src: url('../fonts/remachinescript_personal_use-webfont.woff2') format('woff2'),
        url('../fonts/remachinescript_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    /* background-image: url("../img/UI.png"); */
    /* background-size: cover; */
    /* height: 500px; */
    background-image: linear-gradient(to top, #4f20d4 , #b755d4 , #32e891 ) !important;
    background-repeat: no-repeat;
    font-family: signikaregular;
    -moz-background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;



}

h1
{
    font-family: signikabold;
    color: #464d78;

    
}

.btn {
    display: flex;
    margin: 5px !important;
    justify-content: center !important;
    align-items: center !important;
}


#prueba{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align:center;
   
}



#tableShow{
    width: 20%;
       border-collapse: collapse;
       text-align: left;
       width: 100%;
       border-radius: 20px;
       margin-bottom: 50px;
       margin-top: 50px;
       background-color: white;
   
   }


   table{
    background-color: white;
    border-collapse: collapse;
    text-align: left;
    width: 50%;

}

thead{
    text-align: center;
    background-color: #32e891;
    border-bottom: solid black;
    color: #464d78;
    font-family: 'signikaregular';
}
th, td{
    text-align: center;
}

#botonCrud{

    background: #32e891;
    color: black;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    text-decoration: none;
    border-radius: 10px;


}

#botonCrear{
    background: #32e891;
    width: 150px;
    height: 40px;
    color: black;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;

}


#tituloCentrado{
    margin-top: 30px;
    text-align: center;
}




.contenedor{
    width: 800px;
    margin: auto;
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
   
}