.btn {
	background: #94ebae;

	/* Crear degradados */
	background-image: -webkit-linear-gradient(left, #efa9ef, #6fd8bc color);
	background-image: -moz-linear-gradient(left, #efa9ef, #86cdab);
	background-image: -ms-linear-gradient(left, #6a13ee#86cdab, #86cdab);
	background-image: -o-linear-gradient(left, #86cdab, #86cdab);
	background-image: linear-gradient(to right, #e24cf3, #86cdab);
	/* Dar bordes curvados a btn */
	
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border: none;
	border-radius: 15px;
	-webkit-box-shadow: 6px 5px 24px #666666;
	-moz-box-shadow: 6px 5px 24px #666666;
	box-shadow: 6px 5px 24px #666666;
	font-family: 'Amatic Sc';
	color: #fafafa;
	font-size: 40px;
	font-weight: bold;
    padding: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
	text-decoration: none;
	
    
	
}

.btn:hover {
	background: #2079b0;
	background-image: -webkit-linear-gradient(left, #bd05eb, #6469ED);
	background-image: -moz-linear-gradient(left, #bd05eb, #6469ED);
	background-image: -ms-linear-gradient(left, #bd05eb, #6469ED);
	background-image: -o-linear-gradient(left, #bd05eb, #6469ED);
	background-image: linear-gradient(to right, #bd05eb, #6469ED);
	text-decoration: none;
}

@media only screen and (max-width: 700px) {


  .btn {
    font-size: 30px;
    display: flex;
    justify-content: center;

  }
  
}