@import url('https://fonts.googleapis.com/css2? family= Amatic+SC:wght@400;700 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@500 & display=swap');

.caja{
	
	max-width: 80%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;	
	align-items: baseline;
	margin: 10px auto;
	background-color: green;
	
}

.textCaja{
	font-size: 1.9rem;
	text-align: center;
	padding-top: 100px;
	height: 900px;
}
.imagen{
	width: 100%;
	height: 100%;
}
@media all and (max-width: 600px) {

    .textCaja {
      font-size: 30px;
	  padding-bottom:900px;
	  padding-top: 1%;
	  background-color: red;
    }

	.h{
		font-size: 50px;
	}

  }





 



