@import url('https://fonts.googleapis.com/css2? family= Amatic+SC:wght@400;700 & display=swap');
.contenedor-testimonio{
   margin: 50px;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color:white;
    box-shadow: 0 3px 13px 1px rgba(0 0 0 /9%);
    margin-top: 150px;
    
}

.imagen-testimonio {
    height: 50%;
    width: 700px;
}

.contenedor-texto-testimonio {
    text-align: center;
    padding: 40px;
    font-family: Amatic SC, cursiva;
    font-weight: 400;
    line-height: 1.5rem;
    align-items: center;
    
}

.titulo-testimonio {
    font-size: 2.9rem;
    text-align: center;
}

.subtitulo-testimonio {
    font-size: 2.4rem;
    margin-top: 15px;
    padding: 30px;
    text-align: center;
}

.texto-testimonio {
    font-size: 1.9rem;
    text-align: justify;
    line-height: normal;

   
}


@media all and (max-width: 600px) {
    .contenedor-testimonio{
        width:auto;
        flex-wrap: wrap;
    }
    .imagen-testimonio {
     width: 50%; 
     height: 100px;
        
  }
  .texto-testimonio {
      display: flex;
      align-items:center;
      
    }
    .titulo-testimonio {
      display: flex;
      font-size: 30px;
      margin-top: 5px; 
      
    }
    .subtitulo-testimonio {
        font-size: 20px;
        margin-top: 5px;
        padding: 20px;
        text-align: center;
    }
  }
