@import url('https://fonts.googleapis.com/css2? family= Amatic+SC:wght@400;700 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@500 & display=swap');
.ultimosmiembros{
    display:block;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
    justify-content: center;
    margin: 20px;

}
.titulo{
    display:flex;
    flex-direction: row;
	justify-content:center;
    text-align: center;
    margin:30 px;

}
.imagenUltimosMiembros{
    height: 100%;
    width: 300px;
    margin: 90px;
    border-radius: 100%;
    border:5px solid rgb(167, 237, 188);
    

    
   
}
h2{
    font-family: 'Amatic SC', cursive; 
    font-size: 30px;
}

