@import url('https://fonts.googleapis.com/css2? family= Amatic+SC:wght@400;700 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@500 & display=swap');
.ultimosmiembros{
    display:block;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
     align-items: center;
    margin-left: 10%;

}
.titulo{
    display:flex;
    flex-direction: row;
	justify-content:center;
    text-align: center;
    margin-right:30px;

}
.imagenUltimosMiembros{
    height: 100%;
    width: 300px;
    margin: 30px;
    border-radius: 100%;
    border:5px solid rgb(167, 237, 188);
}
h2{
    padding-top: 10%;
    font-family: 'Amatic SC', cursive; 
    font-size: 50px;
}

