{% extends 'base.html.twig' %}

{% block title %}Edit Animal{% endblock %}

{% block body %}
    <h1 id="tituloCentrado">Editar: {{ animal.nombre }}</h1>    
    <div class="contenedor">

        {{ include('animal/_form.html.twig', {'button_label': 'Guardar'}) }}
    
        <a  id="botonCrear" href="{{ path('app_animal_index') }}">Volver al listado</a>

        {{ include('animal/_delete_form.html.twig') }}
</div>

{% endblock %}
