{% extends 'base.html.twig' %}

{% block title %}New Animal{% endblock %}

{% block body %}
    <h1 id="tituloCentrado">Crear nuevo registro</h1>

<div class="contenedor">
    {{ include('animal/_form.html.twig') }}

    <a  id="botonCrear" href="{{ path('app_animal_index') }}">Volver al listado</a>

    </div>
{% endblock %}
